<h1>Edit <%= @product.name %></h1>
<% if current_user && @product.user_id == current_user.id %>
  <p><%= link_to "//Home", root_path %> | <%= link_to "//View", @product %> | <%= link_to "//Delete", product_path, method: :delete %></p>
<% else %>
  <p><%= link_to "//Home", root_path %> | <%= link_to "//View", @product %> </p>
<% end %>
<hr>

<%= render 'form.html.erb' %>