<h1>Welcome to the Rainforest!</h1>
<h3><%= link_to "//List New Product", new_product_path %></h3>
<hr>
<% @products.each do |product| %>

  <div>
    <h2><%= link_to "#{product.name}", product_path(product) %></h2>
    <p><%= link_to "//Edit", edit_product_path(product) %></p>
    <p><strong>Description:</strong> <%= product.description %></p>
    <p><strong>Price: </strong> <%= product.price_in_cents %></p>
  </div>
  <hr>

<% end %>


