<h1><%= @product.name %></h1>
<p><%= link_to "//Home", root_path %> | <%= link_to "//Edit", edit_product_path %></p>
<hr>

<p><strong>Description:</strong></p>
<p>
  <%= @product.description %>
</p>
<p><strong>Price:</strong></p>
<p>
  <%= @product.price_in_cents %>
</p>
<hr>
<h2>Reviews for <%= @product.name %></h2>
<hr>
<% if current_user %>

  <% @product.reviews.each do |review| %>
    <h3><%= link_to "#{review.title}", review_path(review) %></h3>
    <p><%= review.comment %></p>
    <p><%= review.user.email %></p>
    <hr>
  <% end %>
<% else %>
  <p>Please  <%= link_to "Sign in", new_session_path %> or <%= link_to "Sign up", new_user_path %> to see these reviews!</p>
<% end %>


